<section
  class='vh-100'
  style='background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))'
>
  <form
    action='/login'
    class='h-100 container needs-validation'
    method='post'
    novalidate
  >
    <div class='d-flex justify-content-center align-items-center h-100'>
      <div class='col-12 col-md-8 col-lg-6 col-xl-5'>
        <div class='card bg-dark text-white'>
          <div class='card-body text-center p-5 d-flex flex-column gap-4'>
            <div>
              <h2 class='fw-semibold text-uppercase m-0'>Login</h2>
              <p class='text-white-50 m-0'>Enter in your account!</p>
            </div>
            {{> auth_msg}}
            <div class='d-flex flex-column gap-4'>
              <div class='form-outline form-white text-start fw-semibold fs-5'>
                <label class='form-label' for='email'>E-mail:</label>
                <input
                  type='email'
                  class='form-control'
                  id='email'
                  name='email'
                  placeholder='name@email.com'
                  aria-describedby='inputGroupPrepend'
                  required
                />
                <div class='invalid-feedback'>
                  Por favor, preencha o e-mail!
                </div>
              </div>

              <div class='form-outline form-white text-start fw-semibold fs-5'>
                <label class='form-label' for='password'>Password:</label>
                <input
                  type='password'
                  class='form-control'
                  id='password'
                  name='password'
                  placeholder='password'
                  aria-describedby='inputGroupPrepend'
                  minlength='8'
                  required
                />
                <div class='invalid-feedback'>
                  Por favor, preencha a senha!
                </div>
              </div>
            </div>
            <div>
              <a
                class='text-decoration-none fw-semibold text-white-50'
                href='#!'
              >Forgot password?</a>
            </div>
            <div>
              <button
                class='btn btn-outline-light btn-lg px-5'
                type='submit'
              >Login</button>
            </div>
            <div>
              <p class='mb-0'>Don't have an account?
                <a href='/register' class='text-white-50 fw-bold'>Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>