<footer class='footer text-center text-white'>
  <!-- Grid container -->
  <div class='p-4 bg-black bg-opacity-50'>
    <!-- Section: Social media -->
    <section class='d-flex justify-content-center gap-2'>
      <!-- Facebook -->
      <a class='btn btn-outline-light btn-floating' href='#!' role='button'><i
          class='bi-facebook'
        ></i></a>

      <!-- Twitter -->
      <a class='btn btn-outline-light btn-floating' href='#!' role='button'><i
          class='bi-twitter'
        ></i></a>

      <!-- Google -->
      <a class='btn btn-outline-light btn-floating' href='#!' role='button'><i
          class='bi-google'
        ></i></a>

      <!-- Instagram -->
      <a class='btn btn-outline-light btn-floating' href='#!' role='button'><i
          class='bi-instagram'
        ></i></a>

      <!-- Linkedin -->
      <a class='btn btn-outline-light btn-floating' href='#!' role='button'><i
          class='bi-linkedin'
        ></i></a>

      <!-- Github -->
      <a
        class='btn btn-outline-light btn-floating'
        href='https://github.com/zogss'
        target='_blank'
        role='button'
      ><i class='bi-github'></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class='bg-black bg-opacity-75 text-center p-3'>
    © 2022 Copyright:
    <a
      class='text-white text-decoration-none'
      href='https://github.com/zogss'
      target='_blank'
    >Yan Lucas</a>
  </div>
  <!-- Copyright -->
</footer>