<nav class="navbar navbar-expand-lg bg-dark p-0">
  <div class="container-fluid">
    <div class="flex-grow home" id="navbarSupportedContent">
      <a class="text-white text-opacity-75 nav-link p-3 fs-5" href="/posts">
        Home
      </a>
    </div>

    <div class="align-items-center justify-items-center gap-3">
      <form action="/logout" method="post" class="float-end ms-2">
        <button class="btn btn-primary">LogOut</button>
      </form>
      <a href="#" role="button">
        <img
          src="https://img.favpng.com/7/19/18/computer-icons-user-profile-avatar-png-favpng-t9dbNV4fubzn8GQ5jzFCGpycJ_t.jpg"
          class="rounded-circle"
          height="38"
          alt=""
          loading="lazy"
        />
      </a>
      <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">My profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>-->
    </div>
  </div>
</nav>