<nav class="navbar navbar-expand-lg bg-dark p-0">
  <div class="container-fluid">
    <div class="flex-grow home" id="navbarSupportedContent">
      <a class="text-white text-opacity-75 nav-link p-3 fs-5" href="/posts">
        Home
      </a>
    </div>
    <div class="align-items-center justify-items-center gap-3 d-flex">
      <a href="#" class="text-decoration-none" role="button">
        <div class="d-flex align-items-center">
          <img
            src="https://www.gravatar.com/avatar/{{md5 user.email}}?s=80&d=robohash"
            class="rounded-circle"
            height="38"
            alt=""
            loading="lazy"
          />
                    <p class="text-light m-0">
            {{user.name}}
          </p>
        </div>
      </a>
      <form action="/logout" method="post" class="float-end ms-1">
        <button class="btn btn-primary">
          LogOut
        </button>
      </form>
      <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">My profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>-->
    </div>
  </div>
</nav>