<nav class="navbar navbar-expand-lg bg-dark p-0">
  <div class="container-fluid">
      <a class="btn btn-dark rounded-0 border-0 p-3 text-white nav-link fs-5" href="/posts">
        Home
      </a>
    <div class="action">
      <div
        class="btn btn-dark border-secondary w-100 d-flex float-end align-items-center my-1 me-3 p-2 rounded-5 profile"
        onclick="menuToggle();"
      >
        <img
          src="https://www.gravatar.com/avatar/{{md5 user.email}}?s=80&d=robohash"
          class="rounded-circle"
          height="38"
          alt=""
          loading="lazy"
        />
        <p
          class="text-light m-0 ms-2 overflow-hidden text-nowrap text-truncate"
        >
          {{user.name}}
        </p>
      </div>
      <div
        class="menu invisible position-absolute opacity-0 bg-light rounded-2 shadow"
      >
        <ul class="m-0 ps-0 align-items-center">
          <li class="btn w-100 border-0 p-2"><a
              class="py-2 text-decoration-none float-start fs-6 text-dark"
              href="#"
            ><i class="bi bi-person-circle opacity-75 me-3"></i>Meu perfil</a></li>
          <li class="btn w-100 border-0 p-2"><a
              class="py-2 text-decoration-none float-start fs-6 text-dark"
              href="#"
            ><i
                class="bi bi-gear-wide opacity-75 me-3"
              ></i>Configurações</a></li>
          <form
            action="/logout"
            method="post"
            class="d-flex p-2 mt-2 justify-content-center border-top border-1 border-opacity-50"
          >
            <button class="btn rounded-5 w-75">
              <i class="bi bi-box-arrow-left opacity-75 me-1"></i>
              Sair
            </button>
          </form>
        </ul>
      </div>
    </div>
  </div>
</nav>