<div class="d-flex p-4">
  <div class="col-6">
    <h1>
      Posts
    </h1>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center">
    <a class="btn btn-primary py-2" href="/posts/create">
      Criar Post
    </a>
  </div>
</div>
<ul class="d-flex flex-wrap my-5 gap-3">
  {{#each posts as |post|}}
    <li class="list-group-item shadow bg-body">
      <div class="card" style="width: 18rem;">
        <a href="/posts/{{post._id}}" class="text-decoration-none bg-dark bg-opacity-75 rounded-2">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body border-top border-light border-opacity-25 text-light">
            <h2 class="card-title text-">R$: {{post.valuePerDay}}</h2>
            <h5 class="card-title">{{post.title}}</h5>
          </div>
        </a>
      </div>
    </li>
  {{/each}}
</ul>