<div class="d-flex flex-wrap container col-12 col-md-6 col-lg-6 col-xl-4 justify-content-center p-2">
    <div class="fs-2 fw-semibold">Here will have a rent page</div>
    <div class=""></div>
</div>